<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Eat-da-Burger</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Latest compiled and minified CSS courtesy of bootsrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css" type="text/css">

    <!-- minified jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    
</head>

<body>
    <!-- Jumbotron -->
    <div class="container-fluid text-center">
        <h1 id="header">Eat-da-Burger</h1>
        <h4 class="text-center" id="header1">Where you can customize a digital sandwhich, order it, and then...<em>whatever </em>pleases your heart.</h4>
        
    


    </div>
    {{{ body }}}
    <script type="text/javascript">
// get elements 
    const recycle_da_burger = document.getElementById('recycle-button');
    const eat_da_burger = document.getElementById('devour-button');
    const order_da_burger = document.getElementById('order-burger-button');
$(recycle_da_burger).on('click', e => {
	
});
$(eat_da_burger).on('click', e => {
	
});
$(order_da_burger).on('click', e => {
	
});
    </script>
</body>

</html>